<h1>Add a comedian!</h1>
<form class='new-comedian' action='/comedians' method='post'>
  <input type='text' name ='comedian[name]' placeholder='Name'>
  <input type='text' name ='comedian[age]' placeholder='Age'>
  <input type='text' name ='comedian[city]' placeholder='City'>
  <input type='text' name ='comedian[image_url]' placeholder='Image URL'>
  <input type='submit' value='Submit'>
</form>
